
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BARRA DE NAVEGACIÓN */
.container-fluid {
    background-color: white !important;
  }
  .container-fluid a {
    color: black !important;
  }
  .container-fluid a:hover {
    color: rgb(68,120,69) !important;
  }
  
  .navbar-expand-lg, .bg-body-tertiary {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }
  
  .logoNavBar {
    width: 50px;
  }


/* FOOTER */

.footer {
    width: 100%;
    height: auto;
    min-height: 50vh;
    background-color: rgb(68,120,69);
  }
  
  .derechos {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0;
  }
  
  .footer-contenedor {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .footer-segmento {
    text-align: center;
  }

  
  /* MAIN */


.quienes-somos {
    height: auto;
    min-height: 90vh;
    background-color: #EEEDED;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 8% 0;
    align-items: center;
    justify-content: space-around;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(https://cdn0.ecologiaverde.com/es/posts/7/4/7/que_es_el_carbon_2747_0_600.jpg); */
    background-size: cover;
}

.quienes-somos h3{
    color: rgb(68,120,69);
}

.main-home-description {
    max-width: 100vh;
}

.main-home-description h1 {
    color: rgb(74,166,81);
    font-family: 'Didact Gothic', sans-serif;
}

.main-home-description h3 {
    color: rgb(68,120,69);
}


.contenedor-valores {
    background-color: #CCEEBC;
    width: 100%;
    height: auto;
    min-height: 80vh;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(imagenes/fondo-carbon.jpg);
    background-size: cover;
}

.contenedor-valores h3 {
    color: white;
    
}

.valores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.valor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    width: 300px;
  }



  .zone {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  }