* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* BARRA DE NAVEGACIÓN */
.container-fluid {
    background-color: #654E92 !important;
}
.navbar-expand-lg, .bg-body-tertiary {
    margin:0 !important;
    padding:0 !important;
    box-sizing:border-box !important;
}
.container-fluid a {
    color: white !important;
  }
  .container-fluid a:hover {
    color: #D4ADFC !important;
  }
.logoNavBar {
    width: 50px;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #654E92;
    color: white;
    height: auto;
    text-align: center;
}


/* --------------------HOME------------------------- */
/* PRESENTACIÓN */
.home-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D4ADFC;
    height: 90vh;
    width: auto;
    color: #654E92;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-presentacion h1,.home-presentacion h2,.home-presentacion p{
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.fotoPrincipal {
    height: 50vh;
    border-radius: 50% ;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
@media screen and (max-width: 500px){
    .fotoPrincipal {
        height: 30vh;
    }
}

/* DESCRIPCIÓN */
.home-descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    height: 80vh;
    width: auto;
    color:#654E92;
    text-align: center;
}
@media screen and (max-width: 1023px){
    .home-descripcion {
        height: auto;
    }
}


/* ------------------------SOBRE MI -------------------------------*/
.container-hv {
    display:grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
@media screen and (max-width: 767px){
    .container-hv {
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    }
}
.hv-descripcion {
    grid-column: 1/-1;
}
.elemento-hv {
    text-align: center;
    font-size:1em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    height: 40vh;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
}


/*---------------------------- PORTAFOLIO -----------------------------*/
/* Descripción del portafolio*/
.portafolio-main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 20px;
}
@media screen and (max-width: 767px){
    .portafolio-main {
        height: auto;
    }
}
.portafolio-main p, .portafolio-main h1 {
    text-align: center;
}

/* MOSAICO DE PROYECTOS*/
.mosaico {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    background-color: white;
    padding: 5px;
}
.proyecto {
    font-size: 5em;
    text-align: center;
    background-color: #D4ADFC;
}
.zone {
    cursor:pointer;
    /* display:inline-block; */
    text-align: center;
    border-radius:4px;
    /* border:1px solid #bbb; */
    transition: all 0.3s linear;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* -----------------------------BLOG ------------------------------------------*/
.container-blog {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.h1-blog {
    font-family: fantasy;
    font-size: 3em;
    color: #654E92;
    width: auto;
    text-align: center;
}
.container-blog {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    
}

.article {
    width: 300px;
    margin: 10px;
    height: 50vh;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    transition: all 0.3s linear;
}

@media screen and (max-width: 767px){
    .article {
        height: auto;
    }
}

.post-img {
    background: url(https://images.pexels.com/photos/947384/pexels-photo-947384.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    width: 100%;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-content {
    padding: 10px;
}

.blog-title {
    color:#654E92;
    font-weight: bold;
}

.article:hover {
    transform: scale(1.02);
}


/*--------------------------- CONTACTO------------------------ */

.contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:90vh ;
    background-color: white;
}
.contacto-mensaje{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #654E92;
}
.contacto-form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
    background-color: #D4ADFC;
    border-color: #654E92;
    border-radius: 5px;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.10) 0px -10px 20px;
    transition: all 0.3s linear;
}

.contacto-form:hover { 
    transform: scale(1.1);
}

.pregunta{
    margin: 10px;
}
.mensaje-grande {
    height: 30vh;
}
.form-mensaje2 {
    text-decoration: underline;
}
.boton-enviar {
    background-color: #654E92;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
